@page "/"
<h1>Simple validation</h1>
@if (!wasSubmitted)
{

    <EditForm Model="user" OnValidSubmit="Submit">

        <div class="form-group">
            <label>First Name:</label>
            <InputText @bind-Value="user.Name" class="form-control" placeholder="First Name"  />
        </div>

        <div class="form-group">
            <label>French Phone no:</label>
            <InputMask @ref="mask" id="test" @bind-Value="user.Telephone" class="form-control" data-mask="00.00.00.00.00"  placeholder="Phone No" validateOnKeyPress="false" returnRawValue="true"  />
        </div>
        <button type="submit" class="btn btn-primary">OK</button>
        <ValidationSummary />
        <DataAnnotationsValidator />
    </EditForm>
}
else
{
    <div class="alert alert-success" role="alert">
        Form was submitted successfully !
        Here is the raw value : @rawValue
    </div>
}


@code{

    User user = new User();
    InputMask mask { get; set; }
    bool wasSubmitted { get; set; }
    string maskedOnly { get; set; }
    string rawValue { get; set; }
    private void Submit()
    {
        rawValue = mask.returnValue;
        wasSubmitted = true;        
    }


}